name: Censys Search Run

on:
  schedule:
    - cron: '0 12 */3 * *' # Запуск каждые 3 дня в 12:00 UTC
  workflow_dispatch: # Возможность ручного запуска

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Censys Search
        env:
          CENSYS_API_TOKEN: ${{ secrets.CENSYS_API_TOKEN }}
        run: python get_censys.py

      - name: Commit and Push results
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add censys_working_online_lampa.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update censys lampa servers" && git push)
